<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- bean definitions here -->
<!--    <bean id="student" class="uz.pdp.model.Student">-->
<!--        <property name="name" value="arman"></property>-->
<!--        <property name="username" value="a_rman"></property>-->
<!--        <property name="region">-->
<!--            <bean id="region" class="uz.pdp.model.Region">-->
<!--                <property name="name" value="Uychi"></property>-->
<!--            </bean>-->
<!--        </property>-->
<!--    </bean>-->



</beans>